@import "reset.css";

*{
  color: inherit;
}

div{
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  
  overflow-x: hidden;
}

#wrapper{
  height : auto;
  min-height: 100%;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button{
  border: 0;
  background-color: transparent;
}



/* main3 */
.main3{
    width: 100%;
    height: 103px;
    display: flex;
    margin-top: 60px;

}

    .connect1{
        position: relative;
        width: 1060px;
        height: 100%;
        font-size: 22px;
        font-weight: 800;
        line-height: 26px;
        color: #fff;
        margin: auto;
        
        /* padding-right: 200px; */

    }

    .connect1_back{
        z-index: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1060px;
        height: 100%;
        border-radius: 10px;
        background-color: rgb(32, 73, 196);
        left: 0px;
        margin: auto;
    }


    .connect1_front{
        position: absolute;
        top: 7px;
        left: 700px;

        margin-right: 200px;
        width: 124px;
        height: 100px;

    }  

    .connect1_text1{
        z-index: 1;
        position: absolute;
        padding: 40px;
        left: 50px;
        
    }

    .connect1_text2{
        position: absolute;
        z-index: 1;
        border-radius: 20px;
        background-color: #fff;
        color: #2b4bc8;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        padding: 11px 20px;
        margin-top: 32px;
        right: 20px;
    }



.connect2{
    align-items: center;
    flex-wrap: wrap;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    word-break: break-all;
    display: flex;
}

.connect2_banner{
    display: flex;
    margin: auto;
    padding: 60px 0px 85px;
}

.connect2_banner li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    height: 80px;
}

.connect2_bannerA{
    width: 530px;
    height: 80px;
    background-color: #f2f5ff;
    border-top-left-radius: 38.5px;
    border-bottom-left-radius: 38.5px;
    border-left: none;
}

.connect2_bannerB{
    width: 530px;
    height: 80px;
    border-top-right-radius: 38.5px;
    border-bottom-right-radius: 38.5px;
    background-color: #f2fbf5;
}

/* feature */
.feature{
    width: 1060px;
    height: 537px;
    margin: auto;
    margin-top: 150px;
    padding-top: 70px

}

.feature h2{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.05;
    color: #111;
    margin-bottom: 30px;
}

.fatureContainer ul{
    margin: -10px;
    margin: auto;
}

.fatureContainer ul li{
    padding: 5px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 250px;

}

.fatureContainer ul li img{
    width: 250px;
    height: 187.5px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    /* padding-bottom: 75%; */
    position: relative;
    background-size: cover;
}

    .fatureContainer01{
        display: block;
        
    } 

    .fatureContainer01 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;
        margin-right: 1200px;
    }

    .fatureContainer02 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;
        margin-right: 1000px;
    }

    .fatureContainer03 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer04 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer01_body{
        width: 250px;
    }


    .fatureContainer01_1{
        text-overflow: ellipsis;
        position: relative;
        color: #333;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        max-height: 2.4em;
        overflow: hidden;
        text-align: left;
        word-break: break-word;
        width: 250px;
        margin-right: 0px;
        margin-top: 10px;
    } 

    .fatureContainer01_2{
        font-size: 14px;
        line-height: normal;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 10px;
        color: #333;
        font-weight: 600;

    } 

    .fatureContainer01_2_3{
        position: relative;

        border-radius: 2px;
        background-color: #fff;
        display: inline-block;
        font-size: 10px;
        font-weight: 600;
        height: 19px;
        line-height: 19px;
        margin-top: 4px;
        padding: 0 5px;

        border: 1px solid #00aead;
        color: #00aead;

        position: relative;
        line-height: 19px;
        left: -8px;

    }

    .fatureContainer01_3{
        font-size: 14px;
        line-height: normal;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 10px;

    } 

    .fatureContainer01_4{
        margin-top: 10px;
        color: #333;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }