@import "reset.css";

*{
    color: inherit;
}

div{
    display: block;
}

/* 시작 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

#wrapper{
    height : auto;
    min-height: 100%;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button{
    border: 0;
    background-color: transparent;
}

/* header */

/* .fixed {
    position: fixed;
} */

nav{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #FFFFFF;
    top: 0;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 5;
    margin: auto;
    position: fixed;
    justify-content: center;
    align-items: center;

}

.navCen{
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .bar{
    width: 17px;
    height: 14px;
    display: flex;
    padding: 15px;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navCen p{
    padding-left: 5px;
}

.bar2{
    /* flex-grow: ; */
    height: 50px;
    text-align: center;
    width: 621px;
    margin: auto;
}

nav ul li{
    float: left;
}

nav li a{
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

nav li svg{
    position: absolute;
    top: 10px;
    right: -7px;
    pointer-events: none;

}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}


.aside {
    width: 271px;
    /* height: 50px; */
    display: flex;
    padding: 10px 0px;
    height: 100%;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    float: right;
}

.aside .asideImg{
    width: 15px;
    height: 15px;
    padding: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

#login{
    width: 300px;
    height: 20px;
    font-size: 12px;
    padding-top: 10px;
    cursor: pointer;
}

.aside div{
    padding-top: 10px;    
    display: inline-flex;
}

.asidelogin{
    width: 100px;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
    cursor: pointer;
}

/* section1 */
.section1{
    display: flex;
    width: 1060px;
    margin: auto;
    margin-top: 70px;
}

.section1_btn{
    position: absolute;
    width: 700px;
    margin-top: 230px;

}

.section1 .section1_btn_left{
    position: absolute;
    width: 9%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
}


.section1 .section1_btn_left svg{
    display: block;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);

}

.section1 .section1_btn_right{
    position: absolute;
    width: 9%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 0;
}

.section1 .section1_btn_right svg{
    display: block;
}



.section1 .section1_img00{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    width: 700px;
    height: 504px; 

}

.section1 .section1_img00_1{
    position: relative;
    height: 490px;
    flex-shrink: 0;
    display: flex;

    transition: transform 0.5s;
}

.section1 .section1_img00 img{
    border-radius: 4px;
    scroll-snap-align: start;

    object-fit:cover ;
    outline: 1px solid rgba(0,0,0,.05);
    width: 700px;
    height: 490px;

}

/* aside */
.aside1{
    width: 340px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    height: 330px;
    border-radius: 3px;
    position: fixed;

    right: calc((100% - 1060px)/2);
    top: 70px;
}

.aside1.fixed { 
    position: absolute;
    margin-top: 5910px;
}

.aside1_padding{
    padding: 24px 20px;
}

.aside1_1{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    text-align: left;
    color: #333;
}

.aside1_1 ul{
    overflow: hidden;
    margin: 24px 0;

}

.aside1_1 li{
    float: left;
    width: 50%;
    letter-spacing: normal;
    text-align: left;
}

.aside1_1 li h4{
    font-size: 14px;
    font-weight: 600;
    color: #999;
    margin-bottom: 8px;
    line-height: 1.2;
}

.aside1_1 li p{
    font-size: 15px;
    color: #333;
    font-weight: 600;
}


.aside1_1 button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #e1e2e3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 22px;
}

.aside1_1 button span{
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

.aside1_1 button span svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.aside1_bookmark_btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #36f;
    text-align: center;

}

.aside1_end_btn{
    color: rgba(255,255,255,.5);
    background: #999;
    cursor: not-allowed;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
}

.aside1_bottom{
    margin: 24px 0 0;
    height: 30px;
    display: flex;

}

.aside1_bottom_btn1{
    height: 30px;
    width: 75px;
    border-radius: 15px;
    border: 1px solid #e1e2e3;
    margin-right: 12px;
    padding: 0 15px;
    justify-content: center;
    align-items: center;

    display: flex;
}
    
.aside1_bottom_btn1 svg{
    width: 22px;
    height: 18px;
}

.aside1_bottom_btn2{
    margin-left: 5px;
}


.aside1_bottom_btn2 li{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #fff;
    float: left;
    position: relative;
    margin-left: -10px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

.aside1_bottom_btn2_1{
    z-index: 2;
}

.aside1_bottom_btn2_2{
    z-index: 1;
}

.aside1_bottom_btn2_3{
    z-index: 0;
}

/* main */
.main_main{
    width: 1060px;
    height: 100%;
    margin: auto;
    position: relative;
}

/* section2 */
.section2{
    color: #333;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 30px;
    word-break: keep-all;
    word-wrap: break-word;
}

.section2 .section2_react{
    margin-top: 40px;
}

.section2 .section2_top{
    display: flex;
    margin-top: 20px;
    width: 700px;
    height: 22px;

    display: flex;
    align-items: center;
}

.section2 .section2_text1{
    color: #333;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    line-height: 1.4;

    font-size: 13px;
    font-weight: 600;
}

.section2 .section2_high{
    border: 1px solid #00aead;
    color: #00aead;
    width: 100%;
    height: 19px;
    font-size: 11px;
    align-items: center;

    margin: 0px;

}

.section2{

}

.section2 .section2_korea{
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
    color: #999;
    font-size: 13px;
}

.section2 .section2_people{
    margin-top: 15px;
}

.section2 .section2_people ul{
    
    width: 700px;
}

.section2 .section2_people li{
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 9px 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #333;
    background-color: #f3f5f8;
    border-radius: 25px;

}


/* section3 */
.section3{
    width: calc(100% - 360px);;
    margin-bottom: 40px;
    padding-right: 20px;

}

.section3_txt p span{
    color: #333;
    font-weight: 400;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.7;
}

.section3 .section3_txt_skill{
    font-weight: 600;
    margin-top: 50px;
}

.section3 .section3_skill{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px 8px;
    gap: 10px 8px;
    margin-top: 5px;

}

.section3 .section3_skill_set{
    background-color: #e4f4ec;
    border-radius: 20px;
    padding: 9px 14px;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 600;
    margin-top: 10px;
}

.section3 .section3_line{
    margin-top: 50px;
    margin-bottom: 10px;
}

/* section4 */
.section4{
    width: calc(100% - 360px);
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section4_top{
}

.section4_top_1{
    margin-bottom: 20px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    vertical-align: text-top;
}


.section4 .section4_top_text1{
    color: #999;
    width: 80px;
}


.section4 .section4_top_text2{
    color: #333;
    width: calc(100% - 80px);
}

.google_map{
    width: 700px;
    height: 254px;
}

.section4_mid{
    border-radius: 3px;
    border: 1px solid #e1e2e3;
    padding: 20px;

    margin: 50px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;

}


.section4 .section4_mid_logo{
    background-position: 50%;
    background-size: contain;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
    margin-right: 15px;
    background-repeat: no-repeat;
}

.section4 .section4_mid_1{
    width: 100%;
}

.section4 .section4_mid_logo1{
    
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 5px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 10px;
}


.section4 .section4_mid_logo2{
    color: #999;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding-right: 10px;
}

.section4 .section4_mid_btn{
    height: 35px;
    font-size: 14px;
    padding: 9px 20px 8px;
    color: #36f;
    background-color: #fff;
    border: #e9e9e9 solid 1px;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    width: 95px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}


.section4 span{
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    color: inherit;
}

.section4_bot{
    padding: 25px 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 10px;
    border-radius: 5px;
    background-color: #f3f5f8;
}


.section4 .section4_bot_txt{
    margin: 0 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    color: #333;
}


.section4 .section4_bot_arrow{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;

    margin-left: 150px;
}


/* section5 */
/* feature */
.feature{
    width: 1060px;
    padding: 70px 0px;
    margin: auto;
    height: 1000px;
}

.feature h2{
    font-size: 22px;
    font-weight: 700;
    line-height: 1.05;
    color: #111;
    margin-bottom: 30px;
}

.fatureContainer{
    margin: auto;
}

.fatureContainer ul{
    margin: -10px;
    margin: auto;
}

.fatureContainer ul li{
    padding: 5px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-bottom: 30px;

}

.fatureContainer ul li img{
    width: 250px;
    height: 187.5px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    /* padding-bottom: 75%; */
    position: relative;
    background-size: cover;
}

    .fatureContainer01{
        display: block;
        position: relative;
        
    } 

    .fatureContainer02{
        display: block;
        position: relative;
        
    } 
    
    .fatureContainer03{
        display: block;
        position: relative;
        
    } 

    .fatureContainer04{
        display: block;
        position: relative;
        
    } 

    .fatureContainer05{
        display: block;
        position: relative;
        
    } 

    .fatureContainer06{
        display: block;
        position: relative;
        
    } 

    .fatureContainer07{
        display: block;
        position: relative;
        
    } 

    .fatureContainer08{
        display: block;
        position: relative;
        
    } 

    .fatureContainer09{
        display: block;
        position: relative;
        
    } 

    .fatureContainer10{
        display: block;
        position: relative;
        
    } 

    .fatureContainer11{
        display: block;
        position: relative;
        
    } 

    .fatureContainer12{
        display: block;
        position: relative;
        
    } 

    .fatureContainer01 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;
        margin-right: 1200px;
    }

    .fatureContainer02 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;
        margin-right: 1000px;
    }

    .fatureContainer03 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer04 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer05 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer06 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer07 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer08 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer09 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer10 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer11 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer12 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer01_body{
        width: 250px;
    }


    .fatureContainer01_1{
        text-overflow: ellipsis;
        position: relative;
        color: #333;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        max-height: 2.4em;
        overflow: hidden;
        text-align: left;
        word-break: break-word;
        width: 250px;
        margin-right: 0px;
        margin-top: 10px;
    } 

    .fatureContainer01_2{
        font-size: 14px;
        line-height: normal;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 10px;
        color: #333;
        font-weight: 600;

    } 

    .fatureContainer01_2_3{
        position: relative;

        border-radius: 2px;
        background-color: #fff;
        display: inline-block;
        font-size: 10px;
        font-weight: 600;
        height: 19px;
        line-height: 19px;
        margin-top: 4px;
        padding: 0 5px;

        border: 1px solid #00aead;
        color: #00aead;

        position: relative;
        line-height: 19px;
        left: -8px;

    }

    .fatureContainer01_3{
        font-size: 14px;
        line-height: normal;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 10px;

    } 

    .fatureContainer01_4{
        margin-top: 10px;
        color: #333;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    } 