@import "reset.css";

* {
    color: inherit;
}

div {
    display: block;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    overflow-x: hidden;
}

#wrapper {
    height: auto;
    min-height: 100%;
}

button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
select,
span,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: 0;
    background-color: transparent;
}

/* swiper */


.swiper-slide span:hover {
    background: rgba(0, 0, 0, 0.06);
}

.swipter_btn1 {
    left: 0;
    width: 80px;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: -webkit-gradient(linear, left top, right top, color-stop(21.82%, #fff), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, #fff 21.82%, hsla(0, 0%, 100%, 0));

    display: flex;

    position: absolute;
    -ms-flex-align: center;
    align-items: center;

    z-index: 1;
}

.swipter_btnL {
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid #e1e2e4;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
    color: #8a8a8a;
    position: relative;
}

.swiperArrow {
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

.swiperArrowL {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.swipter_btn2 {
    right: 0;
    width: 80px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: -webkit-gradient(linear, right top, left top, color-stop(21.82%, #fff), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(270deg, #fff 21.82%, hsla(0, 0%, 100%, 0));
    display: flex;
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}