@import "reset.css";

*{
    color: inherit;
}

div{
    display: block;
}

/* 시작 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

        
    overflow-x: hidden;
}

#wrapper{
    height : auto;
    min-height: 100%;
    padding-bottom: 245px;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button{
    border: 0;
    background-color: transparent;
}

/* header */

/* .fixed {
    position: fixed;
} */

nav{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #FFFFFF;
    top: 0;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 800;
    margin: auto;
    position: fixed;
    justify-content: center;
    align-items: center;

}

.navCen{
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .bar{
    width: 17px;
    height: 14px;
    display: flex;
    padding: 15px;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
}

.navCen p{
    padding-left: 5px;
}

.bar2{
    /* flex-grow: ; */
    height: 50px;
    text-align: center;
    width: 621px;
    margin: auto;
}

nav ul li{
    float: left;
}

nav li a{
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

nav li svg{
    position: absolute;
    top: 10px;
    right: -7px;
    pointer-events: none;

}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}


.aside {
    width: 271px;
    /* height: 50px; */
    display: flex;
    padding: 10px 0px;
    height: 100%;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    float: right;
}

.aside .asideImg{
    width: 15px;
    height: 15px;
    padding: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

#login{
    width: 300px;
    height: 20px;
    font-size: 12px;
    padding-top: 10px;
    cursor: pointer;
}

.aside div{
    padding-top: 10px;    
    display: inline-flex;
}

.asidelogin{
    width: 100px;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
    cursor: pointer;
}

/* modal */
.modal_all{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--theme-palette-colors-contents-bg);
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    display: none;
}

.modal-content{
    overflow: auto;
    position: fixed;
    background-color: white;
    width: 398px;
    height: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 100px;
    z-index: 11;
}

.modal_top_close{
    float: right;
    cursor: pointer;
    padding: 5px;
}

.modal_top_close svg{
    width: 22px;
    height: 22px;
    float: right;
}

.modal_top_wanted{
    width: 93px;
    height: 28px;
    margin: auto;
    display: block;
}

.modal_top svg{
    padding-top: 56px;

    width: 93px;
    height: 28px;
    margin-bottom: 30px;

}

.modal_top_txt1{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin-bottom: 22px;
    margin-top: 90px;
}

.modal_top_txt1 p{
    margin-bottom: 6px;
}

.modal_top_txt2{
    color: gray;
    font-weight:400;
    text-align: center;
    font-size: 13px;
    margin-bottom: 45px;
}

.modal_top_txt2 p{
    margin-bottom: 6px;
}

.modal_email{
    width: 360px;
    height: 70px;
    margin: auto;
    margin-bottom: 130px;
}

.modal_email_txt{
    color: rgb(66, 66, 66);
    font-weight:400;
    font-size: 13px;
    margin-bottom: 8px;
}


.modal_email input{
    padding: 0px 12px;
    width: 332px;
    height: 48px;

    outline: none;
    background-color: transparent;
    border: 1px solid rgb(233, 230, 230);
    color: rgb(163, 163, 163);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 8px;
}

.modal_email input:focus {
    border: 1px solid blue;
}

.modal_email button{
    color: rgb(151, 151, 151);
    background-color: rgb(241, 241, 241);
    border: none;
    cursor: default;

    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.modal_email .modal2_open:hover{
    background-color: rgb(63, 63, 255);
    color: white;
    cursor: pointer;
}

.modal_email_txt2 p{
    text-align: center;
    font-size : 12px;
    color: gray;
}


.modal_sns{
    display: flex;
    width: 328px;
    height: 78px;
    margin: auto;
}


.modal_sns_icon svg{
    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
} 

.modal_sns_icon{
    margin: auto;
    text-align: center;
    color: gray;
    font-size: 13px;
    margin-top: 8px;
}

.modal_sns_forgot{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

.modal_sns_line{
    margin-top: 30px;
    color: gray;
    opacity: 0.2;
}

.modal_bot .modal_bot_txt1 p{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.modal_bot .modal_bot_txt1 span{
    font-weight: 900;
    margin-left: 12px;
}

.modal_bot_txt2{
    color: gray;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.modal_bot_select{
    width: 140px;
    height: 44px;

}

.modal_sns_forgot_arrow{    
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
    margin-left: 3px;
    width: 12px;
    height: 12px;

}

.modal_bot{
    width: 358px;
    margin: auto;
}


.modal_bot_arrow{
    position: absolute;
    right: 20px;
    font-size: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.modal_bot_img{
    width: 26px;
    height: 16px;
}

.modal_bot_arrow .path{
    width: 10px;
    height: 10px;
}

.modal_back{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:10;
}

/* modal2 */
.modal_all2{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--theme-palette-colors-contents-bg);
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    display: none;
}

.modal-content2{
    overflow: auto;
    position: fixed;
    background-color: white;
    width: 398px;
    height: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 100px;
    z-index: 11;
}

.modal-content2 input:focus{
    border: 1px solid blue;
}

.modal_top_close2{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 0;
}

.modal_top_close2 svg{
    width: 22px;
    height: 22px;
    float: right;
}

.modal2_top_txt{
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    color: rgb(77, 77, 77);
    margin-top: 25px;
}

.modal2_name{
    width: 360px;
    height: 70px;
    margin: auto;
    margin-top: 70px;
}

.modal2_name_txt{
    color: rgb(66, 66, 66);
    font-weight:400;
    font-size: 13px;
    margin-bottom: 8px;
}

.modal2_number_select{
    padding: 0px 12px;
    width: 355px;
    height: 48px;

    outline: none;
    background-color: transparent;
    border: 1px solid rgb(233, 230, 230);
    color: rgb(58, 58, 58);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 8px;

}


.modal2_name input{
    padding: 0px 12px;
    width: 332px;
    height: 48px;

    outline: none;
    background-color: transparent;
    border: 1px solid rgb(233, 230, 230);
    color: rgb(163, 163, 163);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
}

.modal2_number{
    width: 360px;
    height: 70px;
    margin: auto;
    margin-top: 30px;
}

.modal2_number_txt{
    color: rgb(66, 66, 66);
    font-weight:400;
    font-size: 13px;
    margin-bottom: 8px;
}


.modal2_number_input{
    padding: 0px 12px;
    width: 200px;
    height: 48px;

    outline: none;
    background-color: transparent;
    border: 1px solid rgb(233, 230, 230);
    color: rgb(163, 163, 163);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.modal2_number_txt p{
    text-align: center;
    font-size : 12px;
    color: gray;
}

.modal2_number_pass{
    background-color: rgba(243, 243, 243, 0.671);
    border: 1px solid rgb(233, 230, 230);
    color: rgb(163, 163, 163);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;

    height: 52px;
}

.modal2_number_input2{
    padding: 0px 12px;
    width: 330px;
    height: 48px;

    outline: none;
    background-color: rgba(243, 243, 243, 0.671);
    border: 1px solid rgb(233, 230, 230);
    color: rgb(163, 163, 163);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}


.modal2_password{
    width: 360px;
    height: 70px;
    margin: auto;
    margin-top: 140px;
}

.modal2_password_txt{
    color: rgb(66, 66, 66);
    font-weight:400;
    font-size: 13px;
    margin-bottom: 8px;
}


.modal2_password input{
    padding: 0px 12px;
    width: 332px;
    height: 48px;

    outline: none;
    background-color: transparent;
    border: 1px solid rgb(233, 230, 230);
    color: rgb(163, 163, 163);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
}

.modal2_password_txt2 p{
    color: rgb(66, 66, 66);
    font-weight:400;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 8px;
}



.modal2_btn2{
    background-color: rgb(245, 245, 245);
    width: 350px;
    border-radius: 30px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 19px;
}

.modal2_btn2 p{
    color: rgb(138, 138, 138);
    font-weight:400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}


/* main1 */
.main1{
    padding-top: 50px ;
}

.main1 .slide{
    width: 1060px;
    height: 300px;
    margin: auto;
    padding: 25px 0px 0px;
    display: flex;
}

.main1 .slideImg img{
    border-radius: 10px;

}

/* carousel */
.slides{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: visible;

    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s;
}

.slides img{
    width: 1060px;
    margin-right: 24px;
    border-radius: 20px;
}



/* subslide */

.main1 .subSlide{
    position: absolute;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #ffffff;
    float: left;
    top: 130px;
    left: 20px;
    /* opacity: 0;
    text-align: left;
    left: 34px; */
}


.main1 .subSlide h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.main1 .subSlide h3{
    margin: 0 20px;
    height: 44px;
    font-size: 14px;
    line-height: 1.64;
    color: #333;
}

.main1 .subSlide01{
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: #e1e2e4;
}


.main1 .subSlide02{
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #36f;
    margin-bottom: 50px;
}

.main1 .subSlide03{
    width: 100%;
    height: 40px;
    font-size: inherit;
    font-weight: inherit;
    align-items: center;
    justify-content: inherit;
    color: inherit;
    display: flex;
    margin-top: 6px;
    margin-left: 20px;
    cursor: pointer;
}

.main1 .subSlide04{
    margin-top: -2px;
    margin-right: -1px;
    margin-left: 2px;
    display: flex;
}

.main1 .subSlide05{
    display: flex;
    align-items: inherit;
    justify-content: inherit;

}

.main1 .subSlide06{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}


    .main1 .prev{
        left: calc((100% - 1210px)/2);
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 200px;
        width: 30px;
        height: 60px;
        opacity: .5;
        border-radius: 15px;
        background-color: #fff;
        font-size: 16px;
        z-index: 2;
        cursor: pointer;
    }

    .main1 .prev span{
        display: flex;
        -ms-flex-align: inherit;
        align-items: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
    }

    .main1 .prev svg{
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: inherit;
    }

    .main1 .next{
        right: calc((100% - 1200px)/2);
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 200px;
        width: 30px;
        height: 60px;
        opacity: .5;
        border-radius: 15px;
        background-color: #fff;
        font-size: 16px;
        z-index: 2;
        cursor: pointer;
    }

    .main1 .next span{
        display: flex;
        -ms-flex-align: inherit;
        align-items: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
    }

    .main1 .next svg{
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: inherit;
    }


    .main1 .section2{
        width: 100%;
        margin-top: 50px;
        background-color: white;
        padding: 25px 0 0;
        width: 1060px;
        height: 3000px;
        background-color: white;
        margin: 0 auto;
    }

/* main2 */
.main2{
    background-image: url("https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fwanted-dev.static.wanted.co.kr%2Fbanner%2FJobsfeed_ai_banner.png&w=1440&q=75");
    height: 355.28px;

}

.match1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
    transform: translateX(-15px);

}

.match2{
    height: 30px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;

}

.match3{
    height: 81px;
}

.match3_txt{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
}

.match3 button{
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 700;
    color: #fefefe;
    line-height: 22px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    

    display: block;
    margin: auto;
    margin-top: 20px;
}


/* main3 */
.main3{
    width: 100%;
    height: 103px;
    display: flex;
    margin-top: 60px;

}

    .connect1{
        position: relative;
        width: 1060px;
        height: 100%;
        font-size: 22px;
        font-weight: 800;
        line-height: 26px;
        color: #fff;
        margin: auto;
        
        /* padding-right: 200px; */

    }

    .connect1_back{
        z-index: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1060px;
        height: 100%;
        border-radius: 10px;
        background-color: rgb(32, 73, 196);
        left: 0px;
        margin: auto;
    }


    .connect1_front{
        position: absolute;
        top: 7px;
        left: 700px;

        margin-right: 200px;
        width: 124px;
        height: 100px;

    }  

    .connect1_text1{
        z-index: 1;
        position: absolute;
        padding: 40px;
        left: 50px;
        
    }

    .connect1_text2{
        position: absolute;
        z-index: 1;
        border-radius: 20px;
        background-color: #fff;
        color: #2b4bc8;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        padding: 11px 20px;
        margin-top: 32px;
        right: 20px;
    }



.connect2{
    align-items: center;
    flex-wrap: wrap;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    word-break: break-all;
    display: flex;
}

.connect2_banner{
    display: flex;
    margin: auto;
    padding: 60px 0px 85px;
}

.connect2_banner li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    height: 80px;
}

.connect2_bannerA{
    width: 530px;
    height: 80px;
    background-color: #f2f5ff;
    border-top-left-radius: 38.5px;
    border-bottom-left-radius: 38.5px;
    border-left: none;
}

.connect2_bannerB{
    width: 530px;
    height: 80px;
    border-top-right-radius: 38.5px;
    border-bottom-right-radius: 38.5px;
    background-color: #f2fbf5;
}


/* main4 */
.main4{
    margin: auto;
    width: 1060px;
    height: 430px;
    display: flex;
    margin-bottom: 100px;
}

.title00{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 51px;
    padding-top: 36px;
    
}

.main4SubTitle{
    width: 1060px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    pointer-events: none;
}

.subTitle button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e1e2e4;
    border-radius: 50%;
    pointer-events: all;
    font-size: 16px;
}


.subTitleBtn1{
    cursor: not-allowed;
    opacity: .7;
    color: #ddd;
    border: 1px solid #eee;
    border-radius: 50%;
}

.subTitleBtn1_1{
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.subTitleBtn1_2{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

.subTitletxt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.subTitletxt1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    text-align: center;
}


.subTitletxt1 img{
    width: 24px;
    height: 24px;
}

.subTitletxt2{
    color: #333;
    text-align: center;
    font-weight: 400;
}


.subTitleBtn2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e1e2e4;
    border-radius: 50%;
    pointer-events: all;
    width: 36px;
    height: 36px;
}

.subTitleBtn2_1{
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    
}

.subTitleBtn2_2{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

.main4SubTitle2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main4SubTitle2txt{
    padding-top: 2px;
    margin-right: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #767676;;
    float: none;
}


    /* subcard1 */
    .subcard00{
        display: flex;
        margin-top: 20px;
    }

    .subCard1{
        border: 1px solid black;
        width: 540px;
        height: 350px;
        padding: 10px;
    }

    .subCard1_img00{
        width: 520px;
        height: 270px;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        margin: 10px;

    }

    .subCard1_img{
        border-radius: 4px;
        width: 520px;
        height: 270px;
        object-fit: cover;
        
    }

    .subCard1_bot{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 10px;
        margin-top: 17px;
    }

    .subCard1_bot_img{
        height: 21px;
    }


    .subCard1_bot_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-right: 250px;
    }

    .subCard1_txt{
        width: 93px;
        height: 20px;
        font-size: 18px;
        font-weight: 700;
        color: #333;
        word-break: break-all;
    }

    .subCard1_txt2{
        width: 93px;
        height: 16px;
        font-size: 14px;
        font-weight: 500;
        color: #999;
        margin-top: 4px;

    }

    .subCard1_btn{
        height: 40px;
        color: #36f;
        background-color: #fff;
        position: relative;
            
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        padding: 0 27px;
        box-sizing: border-box;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        border: none;
        background-color: none;
        cursor: pointer;
        border: 1px solid #e1e2e3;
        padding: 12px 25.5px 11px;
        line-height: 1;
    }

    .subCard1_btn p{
        width: 100%;
        font-size: inherit;
        font-weight: inherit;
        display: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
        color: inherit;
    }


    /* subcard2 */
    .subCard2{
        border: 1px solid black;
        width: 540px;
        height: 350px;
        padding: 10px;
    }

    .subCard2_img00{
        width: 520px;
        height: 270px;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        margin: 10px;

    }

    .subCard2_img{
        border-radius: 4px;
        width: 520px;
        height: 270px;
        object-fit: cover;
        
    }

    .subCard2_bot{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 10px;
        margin-top: 17px;
    }

    .subCard2_bot_img{
        height: 21px;
    }


    .subCard2_bot_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-right: 200px;
    }

    .subCard2_txt{
        width: 150px;
        height: 20px;
        font-size: 18px;
        font-weight: 700;
        color: #333;
        word-break: break-all;
    }

    .subCard2_txt2{
        width: 93px;
        height: 16px;
        font-size: 14px;
        font-weight: 500;
        color: #999;
        margin-top: 4px;
    }

    .subCard2_btn{
        height: 40px;
        font-size: 15px;
        color: #36f;
        background-color: #fff;
        position: relative;
            
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        padding: 0 27px;
        box-sizing: border-box;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        border: none;
        background-color: none;
        cursor: pointer;
        border: 1px solid #e1e2e3;
        padding: 12px 25.5px 11px;
        line-height: 1;
    }

    .subCard2_btn p{
        width: 100%;
        font-size: inherit;
        font-weight: inherit;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        color: inherit;
    }

/* main4 - 테마로 모아보는 오즘 채용 */
.temaCard_bot{
    margin-top: 50px;
    margin-left: 8px;
}

.subCard1_tema_img{
    width: 520px;
    height: 300px;

}

.tema_txt{
    width: 520px;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    word-break: break-all;
}

.tema_txt2{
    width: 520px;
    height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    margin-top: 8px;
}

.tema_txt3{
    width: 520px;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    word-break: break-all;
}

.tema_txt4{
    width: 520px;
    height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    margin-top: 8px;
}

.tema_img{
    margin-top: 16px;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.tema_img img{
    display: inline;
    margin-right: 8px;

}

.tema_img span{
    font-size: 14px;
    font-weight: 500;
    color: #666;

}

/* feature */
.feature{
    width: 1060px;
    height: 537px;
    margin: auto;
    margin-top: 150px;
    padding: 70px 0px;

}

.feature h2{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.05;
    color: #111;
    margin-bottom: 30px;
}

.fatureContainer ul{
    margin: -10px;
    margin: auto;
}

.fatureContainer ul li{
    padding: 5px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 250px;

}

.fatureContainer ul li img{
    width: 250px;
    height: 187.5px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    /* padding-bottom: 75%; */
    position: relative;
    background-size: cover;
}

    .fatureContainer01{
        display: block;
        
    } 

    .fatureContainer01 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;
        margin-right: 1200px;
    }

    .fatureContainer02 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;
        margin-right: 1000px;
    }

    .fatureContainer03 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer04 .bookmarkBtn{
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 30px;
        border-radius: 3px;

    }

    .fatureContainer01_body{
        width: 250px;
    }


    .fatureContainer01_1{
        text-overflow: ellipsis;
        position: relative;
        color: #333;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        max-height: 2.4em;
        overflow: hidden;
        text-align: left;
        word-break: break-word;
        width: 250px;
        margin-right: 0px;
        margin-top: 10px;
    } 

    .fatureContainer01_2{
        font-size: 14px;
        line-height: normal;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 10px;
        color: #333;
        font-weight: 600;

    } 

    .fatureContainer01_2_3{
        position: relative;

        border-radius: 2px;
        background-color: #fff;
        display: inline-block;
        font-size: 10px;
        font-weight: 600;
        height: 19px;
        line-height: 19px;
        margin-top: 4px;
        padding: 0 5px;

        border: 1px solid #00aead;
        color: #00aead;

        position: relative;
        line-height: 19px;
        left: -8px;

    }

    .fatureContainer01_3{
        font-size: 14px;
        line-height: normal;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 10px;

    } 

    .fatureContainer01_4{
        margin-top: 10px;
        color: #333;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        word-break: break-word;
        width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    } 



/* footer */
footer{
    height: 245px;
    position : relative;
    transform : translateY(-100%);
}

.footer_line{
    opacity: 0.2;
    width: 100%;
    margin: auto;
}

footer .footClass{
    padding: 18px 0px;
    background-color: #fff;
    display: flex;
    width: 1060px;
    margin: auto;
}

footer .footbottom{
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;
}

footer .footbottom a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 43px;
    width: 113px;
}

footer .variable{
    display: flex;

}

footer .footbottom span{
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 600;
    line-height: 2.6;
    margin-right: 45px;
    white-space: nowrap;
}

footer .footbottom2{
    display: flex;
    flex-wrap: nowrap;
    line-height: 2.6;
}

.footbottom2 a{
    position: relative;
    display: block;
    float: left;
    height: 20px;
}

.footbottom2 a img{
    margin-left: 14px;
}

.rowClass{
    border-top: 1px solid #ececec;
    padding-top: 25px;

    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;

    width: 1060px;
    height: 60px;
}


.rowClassTxt{
    width: 770px;
    height: 60px;
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667em;
    color: #767676;
    width: calc(100% - 290px);
    margin-right: 40px;
}

